body {
    margin: 0;
    min-height: 100vh;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: lightgray;
}

#header {
    padding: 20px;
    background-color: #1F2937;
    color: white;
}

#subText {
    font-weight: bold;
}

h1, #subText {
    margin: 0;
}

#footerContainer {
    background-color: #1F2937;
    color: white;
    position: fixed;
    padding: 15px;
    bottom: 0;
    width: 100%;
}

/* Adding some spice to the interface */
#options {
    padding-top: 30px;
    padding-left: 20%;
    padding-right: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    margin: 10px;
}

#options button {
    color: white;
    font-weight: bolder;
    font-size: 20px;
}

#rock {
    background:url(rock2.png) no-repeat;
    border: 5px solid white;
    background-color: #3882F6;
    background-size: 60%;
    width: 250px;
    height: 250px;
    background-position: center;
    border-radius: 20px;
    padding-top: 80%;
    transition-duration: 0.5s;
}

#rock:hover {
    background:url(rock2.png) no-repeat;
    border: 5px solid #3882F6;
    background-color: white;
    color: #3882F6;
    background-size: 60%;
    width: 250px;
    height: 250px;
    background-position: center;
    border-radius: 20px;
    padding-top: 80%;
    transition-duration: 0.5s;
}

#paper {
    background: url(paper2.png) no-repeat;
    border: 5px solid white;
    background-color: #3882F6;
    background-size: 65%;
    width: 250px;
    height: 250px;
    background-position: center;
    border-radius: 20px;
    padding-top: 80%;
    transition-duration: 0.5s;
}

#paper:hover {
    background: url(paper2.png) no-repeat;
    border: 5px solid #3882F6;
    background-color: white;
    color: #3882F6;
    background-size: 65%;
    width: 250px;
    height: 250px;
    background-position: center;
    border-radius: 20px;
    padding-top: 80%;
    transition-duration: 0.5s;
}

#scissors {
    background: url(scissors2.png) no-repeat;
    border: 5px solid white;
    background-color: #3882F6;
    background-size: 65%;
    width: 250px;
    height: 250px;
    background-position: center;
    border-radius: 20px;
    padding-top: 80%;
    transition-duration: 0.5s;
}

#scissors:hover {
    background: url(scissors2.png) no-repeat;
    border: 5px solid #3882F6;
    background-color: white;
    color: #3882F6;
    background-size: 65%;
    width: 250px;
    height: 250px;
    background-position: center;
    border-radius: 20px;
    padding-top: 80%;
    transition-duration: 0.5s;
}

.choice:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }

/* Spicing up the score */

#scores {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
    padding-top: 75px;
    font-weight: bold;
}

#computerScore {
    align-items: center;
}
#computerScore img {
    width: 100px;
    height: auto;
}

#playerScore img {
    width: 100px;
    height: auto;
}

/* Adding stuff to results */
#results {
    padding-top: 20px;
    font-weight: bold;
    font-size: 20px;
}

#resultsMessage {
    padding-top: 5px;
    padding-bottom: 30px;
}

#refresh {
    background-color: black;
    border: 2px solid black;
    color: white;
    font-size: 13px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 15px;
    font-weight: bold;
    border-radius: 10px;
    transition-duration: 0.4s;
}

#refresh:hover {
    background-color: white;
    border: 2px solid black;
    color: black;
    font-size: 13px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 15px;
    font-weight: bold;
    border-radius: 10px;
    transition-duration: 0.4s;
}

/* MODAL */

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    padding-top: 25%;
    padding-bottom: 25%;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
  /* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    border-radius: 15px;
}